*{
    padding: 0;
    margin: 0;
}

body{
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    background-image: url(../Imagens/transferir.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-display: "Roboto" sans-serif;
}

h1{
    width: 100%;
    text-align: center;
    color: #ffffff; 
    
}

.wrap-cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 6vh;
    
}

@media (width >= 800px){
    .wrap-cards{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.oi{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 6vh;
}

.ayo{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 6vh;
}

.hey{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 6vh;
}
h1, h2{
    text-align: center;
    font-weight: 700;
    color: black;
    font-family:"Roboto", sans-serif;
    
}

.btn button {
    width: 230px;
    height: 60px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #fbc100;
    border-radius: 10px;
    color: rgb(249, 240, 240);
    font-weight: 700;
    transition: all 400ms ease-in;
    margin-top: 5rem;
}





